.navbar-container {
    background: #fff;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 40px;

    .logo-text {
        color: #073a87;
        font-size: clamp(16px, 1.8vw, 24px);
        font-weight: 700;
        text-transform: uppercase;
    }

    .navbar-links-wrapper {
        display: flex;
        gap: 30px;

        .nav-link {
            color: #073a87;
            font-family: Montserrat;
            font-size: clamp(10px, 1.5vw, 16px);
            font-weight: 600;
            text-transform: capitalize;
            text-decoration: none;
        }
    }

    .menu-icon {
        display: none;
    }
}

@media (max-width: 786px) {
    .navbar-container {
        padding: 15px 25px;
        .navbar-links-wrapper {
            display: none;
        }

        .menu-icon {
            display: block;
        }
    }
}
