:root {
    font-family: "Oswald", "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background: #064bb4;
    color: #fff;
}
